{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="container">
<h4>Modifier votre profil</h4>

{{ form_start(passForm)}}
{{ form_widget(passForm)}}

<button type="submit" class="btn btn-primary">Valider</button>
{{ form_end(passForm)}}
</div>
{% endblock %}