.home-city
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 8em;

}

.search-cities {
    margin-left: 10em;
    flex-wrap: wrap;
    justify-content: space-between;

}

.search-cities> a {
    margin: 5em;
}

.first-part
{
    flex-direction: column;
    display: flex;

}

.second-part
{
    flex-direction: column;
    display: flex;
    align-content: flex-end;

}



.ad-container {
    display: flex;
}

.ad-content {
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;

}

.ad-provider {
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;


}

.ad-date {
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;

}

.ad-infos {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.ad-bonus{
    background-color: #a9dc6e;
}

.page-footer {
    background-color: #eeeeee;
    margin-top: 5em;
}


.map-body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;

}
.map-td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
    line-height: 22px;
}

area-shape :hover
{
    color: red;
}

.search-cities
{
    display: flex;

}

.ads-list 
{
    border: 1px solid black;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
}

.user-picture 
{
    vertical-align: middle;
    height: 10em;
    width: 10em;
    border-radius: 50%;}