{% extends 'base.html.twig' %}

 {% block title %}Nous contacter{% endblock %}

 {% block body %}

<div class="container">

    <h1>Votre message</h1>

  
    {{ form_start(contactForm)}}

    {{ form_widget(contactForm)}}


    <button type="submit" class="btn btn-primary">Contacter</button>

      {{ form_end(contactForm)}}



</div>

  {% endblock %}
