{% extends 'base.html.twig' %}

 {% block title %}Votre message n°{{ message.id }}{% endblock %}

 {% block body %}

<div class="container">

    <h1>Votre message </h1>

  <div>
  <p> {{ message.content }}
  </p>  
  <p>Le {{ message.createdAt|date('d/m/Y H:i') }}</p>
  <p>{{ message.sender.firstname }}</p>
  </div>



</div>

  {% endblock %}
